*.iml
.gradle
/local.properties
.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/
/app/src/test/
/blesdk_2208/build/

# Build Outputs
/app/release/
*.apk
*.aab
output-metadata.json
/app/src/main/java/com/humotron/app/ui/BlankFragment.kt
/app/src/main/res/layout/fragment_blank.xml
